<style>
      body {
          background: #F6F6F6;
          border-top: 5px solid #000;
          border-bottom: 5px solid #000;
          font-family: sans-serif;
      }
      h1 {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          color: #030606;
      }
      h2 {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          color: #030606;
      }
      
      ul {
          text-align: center;
        }

      li {
          display: inline;
          padding: 10x;
          font-weight: bold;
      }

      a {
          color: #05080C;
          margin: 10px;
      }

      p {
        font-family: georgia;
      }

      img {
          width: 200px;
      }

    </style>