/* Set box-sizing to border-box for all elements */
html {
  box-sizing: border-box;
}
/* Play nicely with other components */
*, *:before, *:after {
  box-sizing: inherit;
}

header{
  background-repeat: no-repeat;
  overflow: auto;
}

body {
  background-image: url("paintedmap.png");
  background-repeat: no-repeat;
  overflow: auto;
}

